Repository pubky/pubky-nexus, pull requests merged in 2024-12, with the labels that each got.

#236 feat: Add more known URIs to watcher
  examples/from_file.rs
  src/events/mod.rs
  src/events/processor.rs
Labels: enhancement, 🔮 nexus, 👀 watcher

#235 Fix user graph query handling of None values
  .gitignore
  src/db/graph/queries/put.rs
  tests/watcher/users/del_with_relations.rs
  tests/watcher/users/del_without_relations.rs
Labels: bug, 🔮 nexus, 👀 watcher

#240 fix tests error "A Tokio 1.x context was found, but it is being shutdown"
  Cargo.lock
  Cargo.toml
  tests/watcher/bookmarks/del.rs
  tests/watcher/bookmarks/raw.rs
  tests/watcher/bookmarks/viewer.rs
  tests/watcher/files/create.rs
  tests/watcher/files/delete.rs
  tests/watcher/follows/del.rs
  tests/watcher/follows/del_friends.rs
  tests/watcher/follows/del_notification.rs
  tests/watcher/follows/del_sequential.rs
  tests/watcher/follows/put.rs
  tests/watcher/follows/put_friends.rs
  tests/watcher/follows/put_notification.rs
  tests/watcher/follows/put_sequential.rs
  tests/watcher/mentions/notification.rs
  tests/watcher/mentions/raw.rs
  tests/watcher/mutes/del.rs
  tests/watcher/mutes/put.rs
  tests/watcher/network/counts.rs
  tests/watcher/posts/attachments.rs
  tests/watcher/posts/del_bookmarked_notification.rs
  tests/watcher/posts/del_reply_notification.rs
  tests/watcher/posts/del_reply_parent_notification.rs
  tests/watcher/posts/del_repost_notification.rs
  tests/watcher/posts/del_reposted_notification.rs
  tests/watcher/posts/del_tagged_notification.rs
  tests/watcher/posts/del_with_relations.rs
  tests/watcher/posts/del_without_relations.rs
  tests/watcher/posts/edit_bookmarked_notification.rs
  tests/watcher/posts/edit_reply_parent_notification.rs
  tests/watcher/posts/edit_reposted_notification.rs
  tests/watcher/posts/edit_tagged_notification.rs
  tests/watcher/posts/engagement.rs
  tests/watcher/posts/pioneer.rs
  tests/watcher/posts/raw.rs
  tests/watcher/posts/reply.rs
  tests/watcher/posts/reply_engagement.rs
  tests/watcher/posts/reply_notification.rs
  tests/watcher/posts/reply_repost.rs
  tests/watcher/posts/repost.rs
  tests/watcher/posts/repost_notification.rs
  tests/watcher/tags/post_del.rs
  tests/watcher/tags/post_muti_user.rs
  tests/watcher/tags/post_notification.rs
  tests/watcher/tags/post_put.rs
  tests/watcher/tags/user_notification.rs
  tests/watcher/tags/user_to_self_put.rs
  tests/watcher/tags/user_to_user_del.rs
  tests/watcher/tags/user_to_user_put.rs
  tests/watcher/users/del_with_relations.rs
  tests/watcher/users/del_without_relations.rs
  tests/watcher/users/raw.rs
Labels: bug, 🔮 nexus, 👀 watcher

#258 Bug: Reach post stream wrong
  src/models/post/stream.rs
  tests/service/stream/post/mod.rs
  tests/service/stream/post/post_replies.rs
  tests/service/stream/post/reach/timeline.rs
Labels: bug, 🔮 nexus, 🌐 service
