Repository pubky/pubky-nexus, pull requests merged in 2025-04, with the labels that each got.

#408 bug: fixed month timeframe for hot tags
  docker/test-graph/mocks/hot-tags.cypher
  nexus-api/tests/tags/hot.rs
  nexus-common/src/types/timeframe.rs
Labels: bug

#410 bump: missing crates
  Cargo.lock
  nexus-api/Cargo.toml
  nexus-common/Cargo.toml
  nexusd/Cargo.toml
Labels: dependencies, 🔮 nexus

#409 bump: otlp
  Cargo.lock
  nexus-api/Cargo.toml
  nexus-common/Cargo.toml
  nexus-common/src/stack.rs
  nexus-watcher/Cargo.toml
Labels: dependencies, 🔮 nexus

#382 chore(docs): add docstring and readme to crate modules
  nexus-api/Readme.md
  nexus-api/src/lib.rs
  nexus-common/Readme.md
  nexus-common/src/lib.rs
  nexus-watcher/Readme.md
  nexus-watcher/src/lib.rs
Labels: documentation, 🔮 nexus

#426 feat: fetch posts in batch
  nexus-api/src/routes/v0/endpoints.rs
  nexus-api/src/routes/v0/stream/mod.rs
  nexus-api/src/routes/v0/stream/posts.rs
  nexus-api/src/routes/v0/stream/users.rs
Labels: 🔮 nexus, 🌐 service

#425 feat(api): add full page holistic endpoint
  docker/test-graph/mocks/hot-tags.cypher
  nexus-api/Cargo.toml
  nexus-api/benches/bootstrap.rs
  nexus-api/benches/user.rs
  nexus-api/src/routes/v0/bootstrap.rs
  nexus-api/src/routes/v0/dto.rs
  nexus-api/src/routes/v0/endpoints.rs
  nexus-api/src/routes/v0/mod.rs
  nexus-api/src/routes/v0/post/tags.rs
  nexus-api/src/routes/v0/types.rs
  nexus-api/src/routes/v0/user/tags.rs
  nexus-api/tests/files/by_ids.rs
  nexus-api/tests/stream/post/posts.rs
  nexus-api/tests/tags/post.rs
  nexus-api/tests/tags/user.rs
  nexus-api/tests/tags/wot.rs
  nexus-api/tests/user/bootstrap.rs
  nexus-api/tests/user/mod.rs
  nexus-common/src/models/bootstrap.rs
  nexus-common/src/models/mod.rs
  nexus-common/src/models/post/stream.rs
  nexus-common/src/models/user/stream.rs
  nexus-common/src/types/pagination.rs
Labels: 🔮 nexus, 🌐 service

#430 chore(common/api): replace redis crate for deadpool_redis::redis
  Cargo.lock
  nexus-api/Cargo.toml
  nexus-api/src/mock.rs
  nexus-api/tests/tags/wot.rs
  nexus-common/src/db/kv/index/json.rs
  nexus-common/src/db/kv/index/lists.rs
  nexus-common/src/db/kv/index/sets.rs
Labels: chores
