Repository pubky/pubky-nexus, pull requests merged in 2025-05, with the labels that each got.

#427 feat: Services graceful shutdown
  Cargo.lock
  nexus-api/Cargo.toml
  nexus-api/src/builder.rs
  nexus-watcher/src/builder.rs
Labels: enhancement, 🌐 service

#437 bug: stream query includes post replies
  docker/test-graph/mocks/posts.cypher
  nexus-common/src/db/graph/queries/get.rs
Labels: bug, 🌐 service

#440 chore: control ddbb initialisation process
  Cargo.lock
  examples/README.md
  examples/api/readme.md
  nexus-api/src/builder.rs
  nexus-common/Cargo.toml
  nexus-common/src/db/connectors/neo4j.rs
  nexus-common/src/db/connectors/redis.rs
  nexus-common/src/db/graph/setup.rs
  nexus-common/src/stack.rs
  nexus-watcher/src/builder.rs
  nexus-watcher/tests/utils/watcher.rs
  nexusd/src/main.rs
  nexusd/src/migrations/builder.rs
Labels: 🔮 nexus, chores

#448 chore: rename cli config parameter in nexusd service
  README.md
  nexus-api/src/builder.rs
  nexus-watcher/src/builder.rs
  nexusd/src/cli.rs
  nexusd/src/launcher.rs
  nexusd/src/main.rs
Labels: 🔮 nexus, chores

#449 fix(docker): include 'examples' dir for successful build
  .dockerignore
  Dockerfile
Labels: 🔮 nexus

#465 Fix unreliable `unique_tags` counter
  nexus-common/src/models/post/counts.rs
  nexus-common/src/models/user/counts.rs
  nexus-watcher/tests/tags/post_put.rs
Labels: bug, 👀 watcher
